.menus {
    margin-top: 1.5em;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

.table {
    width: 100%;
    height: auto;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-info {
    width: 80%;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    padding: 1rem;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-info:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(242,204,143,1) 0%, rgba(129,178,154,1) 66%, rgba(61,64,91,1) 100%);
}

.product-title {
    grid-column: 1;
}

.product-price   {
    grid-column: 3;
}

@media screen and (max-width: 500px) {
    .product-info {
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }

    .product-title {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .product-ingredients {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .product-price {
        grid-column: 1;
        grid-row: 3;
    }
}