header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: linear-gradient(90deg, rgba(61,64,91,1) 0%, rgba(129,178,154,1) 34%, rgba(242,204,143,1) 100%);
}

nav {
    display: flex;
    width: 99%;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    margin: 0 1rem;
    list-style-type: none;
}

a {
    color: rgba(242,204,143,1);
    text-decoration: none;
    font-size: 1.5rem;
}